/* SIDEBAR POSITION */
.sidebar {
    background-color: var(--sidebar);
    height: 100vh;
    width: 280px;
}

.sidebar .logo > div {
    color: var(--text-color);
    font-weight: bold;
}

.sidebar-content {
    padding: 1rem;
}

#dialogBtn button {
    font-weight: bold;
    color: var(--highlight-dark);
}

#dialogBtn svg {
    fill: var(--highlight-dark);
}

.sidebar-content section > button {
    background: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
    text-align: left;
    color: var(--text-color);

    display: flex;
    align-items: center;
}

.sidebar-content section > button:hover, .sidebar-content section > button:hover svg {
    background: var(--gray-highlight);
    fill: var(--highlight-dark);
}

button.selected, button.selected svg {
    background: var(--selected) !important;
    fill: var(--highlight-light) !important;
    color: var(--highlight-light) !important;
}

.sidebar-content > div {
    margin-bottom: 2rem;
}

.sidebar-content > div > * {
    margin-bottom: 8px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
}

.sidebar-header .sidebar-toggle svg {
    margin: 0;
}

.project-nav button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-toggle {
    background: none;
    border: none;
}

aside {
    flex: 0 0 280px;
    transition: margin 0.3s ease
}

input ~ aside {
    margin-left: -280px;
}

input:checked ~ aside {
    margin-left: 0;
}

@media (max-width: 750px) {
    .sidebar {
        width: 220px;
        position: fixed;
    }

    input ~ aside {
        margin-left: -220px;
    }
}