/* SIDEBAR POSITION */
.sidebar {
    background-color: var(--sidebar);
    height: 100vh;
    min-width: 280px;
}

.sidebar .logo > div {
    color: var(--text-color);
    font-weight: bold;
}

.sidebar-content {
    padding: 1rem;
}

#dialogBtn button {
    font-weight: bold;
    color: var(--highlight-dark);
}

#dialogBtn svg {
    fill: var(--highlight-dark);
}

.sidebar-content section > button {
    background: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
    text-align: left;
    color: var(--text-color);

    display: flex;
    align-items: center;
}

.sidebar-content section > button:hover {
    background: var(--gray-highlight);
}

.sidebar-content > div {
    margin-bottom: 2rem;
}

.sidebar-content > div > * {
    margin-bottom: 8px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
}

.sidebar-header .sidebar-toggle svg {
    margin: 0;
}

.project-nav button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-toggle {
    background: none;
    border: none;
}

aside {
    flex: 0 0 280px;
    transition: margin 0.3s ease
}

input ~ aside {
    margin-left: -280px;
}

input:checked ~ aside {
    margin-left: 0;
}