@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --back-bg: rgb(255, 225, 225);
    --main-bg: rgb(255, 200, 200);
    --highlight-light: rgb(255, 150, 150);
    --highlight-dark: rgb(255, 80, 80);
    --active-light: rgb(255, 220, 220);
    --gray: rgb(175, 175, 175);
    --dark-gray: rgb(54, 54, 54);
    --main-font: "Josefin Sans", sans-serif;
    --date-font: "Rubik", sans-serif;
}

* {
    font-family: var(--main-font);
}

body {
    max-width: 1080px;
    margin-inline: auto;
    background-color: var(--back-bg);
}

.hidden {
    display: none;
}

button:hover {
    cursor: pointer;
}

svg {
    fill: var(--highlight-light);
}

svg:hover {
    fill: var(--highlight-dark);
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 4rem;
}

h1 > span {
    color: var(--highlight-dark);
    text-decoration: underline wavy 2px var(--highlight-light);
}

h1 > span:hover {
    cursor: pointer;
    color: var(--highlight-light);
    text-decoration-color: var(--highlight-dark);
}

header > .nav {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#projectBtn {
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--dark-gray);
}

#projectBtn:hover {
    cursor: pointer;
    color: var(--highlight-dark);
}

#uiBtn {
    background: none;
    border: none;
}

#uiBtn > svg {
    fill: var(--highlight-light);
    width: 1.5rem;
    height: 1.5rem;
}

#uiBtn > svg:hover {
    cursor: pointer;
    fill: var(--highlight-dark);
    width: 1.5rem;
    height: 1.5rem;
}

/* Main */

#taskContainer {
    background-color: var(--main-bg);
    margin: 0 5rem;
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#taskList > p {
    margin: 0;
    text-align: center;
}

.task-header, .task {
    display: flex;
    align-items: center;
}

.task-header > span:first-child, .task > span:first-child { margin-right: auto; }

.task-header > span:last-child, .task > span:last-child { margin-left: auto; }

.task-header > span {
    font-weight: bold;
}

.task > span:first-child {
    background-color: var(--gray);
    color: var(--dark-gray);
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.task > span:first-child:hover {
    cursor: pointer;
    background-color: var(--active-light);
    color: var(--highlight-dark);
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: underline wavy 2px var(--highlight-light);
}

.task > span:nth-child(2) { 
    flex: 1;
}

#dialogBtn, #submit {
    background-color: var(--highlight-light);
    color: initial;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

#dialogBtn > span {
    font-family: sans-serif;
    margin-right: .3rem;
}

#dialogBtn:hover, #submit:hover {
    cursor: pointer;
    background-color: var(--highlight-dark);
    color: var(--active-light);
}

.priority-title {
    margin: 0;
}

.priority-title:first-child {
    margin-top: 0;
}

.task-date {
    font-family: var(--date-font);
}